*{
    box-sizing: border-box;
    margin: 0;
}
#container , #blur{
    width: 100%;
    height: 100%;
    max-width: 1000px;
    max-height: 600px;
    border-radius: 40px;
}
#blur{
    background-image: url("blueBg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#container{
    background-color: transparent;
    backdrop-filter: blur(150px);
    display: flex;
    align-self: center;
}
.section{
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    row-gap: 20px;
    background-color: transparent;
    width: 50%;
    height: 100%;
    border-radius: 40px;
}
#icons{
    display: flex;
    justify-content: space-evenly;
}
#icons button {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border-width: 1px;
    border-color: dodgerblue;
    i{
        background-color: transparent;
        color: dodgerblue;
    }
}

#icons button:hover {
    background-color: dodgerblue;
    /*box-shadow: fuchsia 1px 1px 5px, fuchsia -1px -1px 5px;*/
    transform: scale(1.2);
    cursor: pointer;
    i{
        background-color: dodgerblue;
        color: white;
    }
}
#left input{
    align-self: center;
    border-radius: 10px;
    border: none;
    background-color: rgb(255, 255, 255,50%);
    height: 40px;
    width: 100%;
    max-width: 320px;
    padding: 10px;
}
#left input:hover{
    border-color: dodgerblue;
    border-width: 2px;
    border-style: solid;
}
#left input:focus{
    outline: none;
    border-color: dodgerblue;
    border-width: 2px;
    border-style: solid;
    background-color: whitesmoke;
}

#message{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
#submit:hover{
    font-weight: bold;
    transform: scale(1.05);
    cursor: pointer;
}
#signInContainer{
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    row-gap: 25px;
    flex-direction: inherit;
}
#message textarea{
    align-self: center;
    border-radius: 30px;
    border-style: none;
    background-color: rgb(255, 255, 255,50%);
    height: 100%;
    width: 100%;
    padding: 20px;
}
#message textarea:hover{
    border-color: dodgerblue;
    border-width: 2px;
    border-style: solid;
}
#message textarea:focus{
    outline: none;
    border-color: dodgerblue;
    border-width: 2px;
    border-style: solid;
    background-color: whitesmoke;
}
#submit{
    border-style: none;
    background-image: linear-gradient(180deg,white,whitesmoke);
    color: dodgerblue;
    margin-top: 10px;
    align-self: center;
    border-radius: 50px;
    max-width: 200px;
}
input::placeholder{
    margin-top: 0;
}